name: CI

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]


jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust: ['1.91', '1.92']
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}
          components: rustfmt, clippy, rust-src
      - name: Install solc
        run: |
          SOLC_VERSION=0.8.26
          curl -L https://github.com/ethereum/solidity/releases/download/v${SOLC_VERSION}/solc-static-linux \
          -o solc
          chmod +x solc
          sudo mv solc /usr/local/bin/solc
      - name: Run formatting check
        run: cargo fmt --check
      - name: Run clippy
        run: cargo clippy --workspace --all-targets --all-features -- -D warnings
      - name: Run tests
        run: cargo test -p cargo-pvm-contract
