name: CI

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]


jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy
      - name: Run formatting check
        run: cargo fmt --check
      - name: Install solc
        run: sudo apt-get update && sudo apt-get install -y solc
      - name: Run clippy
        run: cargo clippy --workspace --all-targets --all-features -- -D warnings
      - name: Run tests
        run: cargo test -p cargo-pvm-contract
